*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(0, 0, 0);                                        
    background-size: cover;
}
.gear{
height: 50px;
width: 290px;
border:  2px solid white ;
color: bisque;
display : flex;
text-align: center;
justify-content: center;
margin-left: 850px;
border-radius: 10px;


}



.grid-container {
    display:grid;
    grid-template-columns: repeat(3, 1fr); /* Create 3 columns */
    grid-gap: 10px; /* Space between images */
    max-width: 930px; /* Adjust width according to image size */
    margin: auto;
}

.grid-container img {
    width: 300px;  /* Fixed width for each image */
    height: 300px; /* Fixed height for each image */
    object-fit: cover; /* Ensure the image covers the box without distortion */}
